.full,
.tile {
    overflow: hidden
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden
}

::-webkit-scrollbar {
    background: #000;
    width: 2px
}

::-webkit-scrollbar-thumb {
    background: #3c9
}

.span:nth-child(10),
.span:nth-child(11),
.span:nth-child(12),
.span:nth-child(2),
.span:nth-child(3),
.span:nth-child(4),
.span:nth-child(5),
.span:nth-child(6),
.span:nth-child(7),
.span:nth-child(8),
.span:nth-child(9) {
    top: -10px;
    left: initial
}

h1 {
    background-image: url("./assets/image_processing20201109-12662-1v80isy.gif")
}

.morph {
    background: rgba(255, 255, 255, .15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, .3)
}

.color1 {
    color: #fff
}

.full {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #0d1d31 0, #0c0d13 100%)
}

@keyframes slide-transparency {

    0%,
    100% {
        opacity: 0
    }

    50% {
        opacity: 1
    }
}

.animate-opacity {
    animation-name: slide-transparency;
    animation-iteration-count: infinite
}

.freq-5 {
    animation-duration: 5s
}

.freq-6 {
    animation-duration: 6.33s
}

.freq-7 {
    animation-duration: 7s
}

.freq-8 {
    animation-duration: 8.88s
}

.freq-9 {
    animation-duration: 9s
}

.freq-10 {
    animation-duration: 10.17s
}

.delay-2 {
    animation-delay: 1.33s
}

.delay-4 {
    animation-delay: 2.11s
}

.bg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1000
}

.span,
.span::before,
.tile,
.z-1,
.z-2,
.z-3 {
    position: absolute
}

.z-1,
.z-2,
.z-3 {
    width: 150vw;
    height: 150vw;
    left: -50vw;
    top: -50vw;
    transform-origin: center
}

.tile {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-size: 512px 512px
}

.top-left {
    background-image: url("./assets/topleft.png")
}

.top-right {
    background-image: url("./assets/topright.png")
}

.bottom-left {
    background-image: url("./assets/bottomleft.png")
}

.bottom-right {
    background-image: url("./assets/bottomright.png")
}

.span {
    top: 50%;
    left: 50%;
    height: 4px;
    width: 4px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, .1), 0 0 0 8px rgba(255, 255, 255, .1);
    animation: 3s linear infinite animate
}

.span:nth-child(2) {
    right: 10px;
    animation-delay: 1s;
    animation-duration: 2s
}

.span:nth-child(3) {
    right: 10px;
    animation-delay: .5s;
    animation-duration: 2s
}

.span:nth-child(4) {
    right: 100px;
    animation-delay: 1s;
    animation-duration: 5s
}

.span:nth-child(5) {
    right: 700px;
    animation-delay: 2.5s;
    animation-duration: 2s
}

.span:nth-child(6) {
    right: 500px;
    animation-delay: 1.5s;
    animation-duration: 3s
}

.span:nth-child(7) {
    right: 150px;
    animation-delay: 2s;
    animation-duration: 2s
}

.span:nth-child(8) {
    right: 250px;
    animation-delay: 3s;
    animation-duration: 2s
}

.span:nth-child(9) {
    right: 300px;
    animation-delay: 1s;
    animation-duration: 3s
}

.span:nth-child(10) {
    right: 500px;
    animation-delay: 3s;
    animation-duration: 5s
}

.span:nth-child(11) {
    right: 400px;
    animation-delay: 2s;
    animation-duration: 4s
}

.span:nth-child(12) {
    right: 550px;
    animation-delay: 1s;
    animation-duration: 5s
}

.span::before {
    content: '';
    transform: translateY(-50%);
    top: 50%;
    width: 300px;
    height: 1px;
    background: linear-gradient(90deg, #fff, transparent)
}

@keyframes animate {
    0% {
        transform: rotate(315deg);
        opacity: 1
    }

    70% {
        opacity: 0
    }

    100% {
        transform: rotate(315deg) translatex(-1000px);
        opacity: 1
    }
}