h1 {
  background-image: url("./assets/image_processing20201109-12662-1v80isy.gif");
}
html{
scroll-behavior:smooth;
} 

.morph {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.6px);
  -webkit-backdrop-filter: blur(3.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.color1 {
  color: #ffffff;
}
.background{
  width: 100%;
  min-height: 100vh;
  margin-top: -17vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
mix-blend-mode: color;
  
}
.background1{
  width: 100%;
  min-height: 100vh;
  margin-top: 82vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
mix-blend-mode: color;
  
}
.full {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
}

.star {
  --star-color: skyblue;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}

@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}

.star:nth-child(1) {
  --star-tail-length: 6.04em;
  --top-offset: 66.25vh;
  --fall-duration: 6.115s;
  --fall-delay: 4.026s;
}

.star:nth-child(2) {
  --star-tail-length: 6.08em;
  --top-offset: 77.43vh;
  --fall-duration: 11.528s;
  --fall-delay: 7.878s;
}

.star:nth-child(3) {
  --star-tail-length: 6.08em;
  --top-offset: 9.56vh;
  --fall-duration: 6.872s;
  --fall-delay: 7.888s;
}

.star:nth-child(4) {
  --star-tail-length: 7.03em;
  --top-offset: 23.58vh;
  --fall-duration: 11.634s;
  --fall-delay: 0.22s;
}

.star:nth-child(5) {
  --star-tail-length: 6.27em;
  --top-offset: 66.64vh;
  --fall-duration: 9.218s;
  --fall-delay: 2.504s;
}

.star:nth-child(6) {
  --star-tail-length: 7.12em;
  --top-offset: 58.16vh;
  --fall-duration: 7.109s;
  --fall-delay: 3.622s;
}

.star:nth-child(7) {
  --star-tail-length: 5.43em;
  --top-offset: 28.54vh;
  --fall-duration: 7.749s;
  --fall-delay: 6.933s;
}

.star:nth-child(8) {
  --star-tail-length: 7.49em;
  --top-offset: 83.07vh;
  --fall-duration: 8.246s;
  --fall-delay: 1.306s;
}

.star:nth-child(9) {
  --star-tail-length: 6.79em;
  --top-offset: 89.73vh;
  --fall-duration: 7.676s;
  --fall-delay: 1.74s;
}

.star:nth-child(10) {
  --star-tail-length: 6.2em;
  --top-offset: 0.66vh;
  --fall-duration: 11.83s;
  --fall-delay: 1.312s;
}

.star:nth-child(11) {
  --star-tail-length: 7.5em;
  --top-offset: 45.63vh;
  --fall-duration: 10.016s;
  --fall-delay: 5.055s;
}

.star:nth-child(12) {
  --star-tail-length: 6.31em;
  --top-offset: 91.87vh;
  --fall-duration: 10.429s;
  --fall-delay: 8.838s;
}

.star:nth-child(13) {
  --star-tail-length: 7.08em;
  --top-offset: 32.93vh;
  --fall-duration: 9.808s;
  --fall-delay: 3.857s;
}

.star:nth-child(14) {
  --star-tail-length: 6.68em;
  --top-offset: 18.87vh;
  --fall-duration: 8.365s;
  --fall-delay: 7.335s;
}

.star:nth-child(15) {
  --star-tail-length: 6.03em;
  --top-offset: 82.75vh;
  --fall-duration: 11.307s;
  --fall-delay: 5.138s;
}

.star:nth-child(16) {
  --star-tail-length: 6.56em;
  --top-offset: 29.67vh;
  --fall-duration: 11.542s;
  --fall-delay: 3.635s;
}

.star:nth-child(17) {
  --star-tail-length: 7.3em;
  --top-offset: 99.48vh;
  --fall-duration: 10.216s;
  --fall-delay: 6.797s;
}

.star:nth-child(18) {
  --star-tail-length: 6.01em;
  --top-offset: 32.65vh;
  --fall-duration: 8.37s;
  --fall-delay: 0.082s;
}

.star:nth-child(19) {
  --star-tail-length: 6.06em;
  --top-offset: 8.23vh;
  --fall-duration: 9.039s;
  --fall-delay: 9.537s;
}

.star:nth-child(20) {
  --star-tail-length: 7.4em;
  --top-offset: 31.98vh;
  --fall-duration: 7.146s;
  --fall-delay: 0.858s;
}

.star:nth-child(21) {
  --star-tail-length: 5.78em;
  --top-offset: 4.77vh;
  --fall-duration: 6.963s;
  --fall-delay: 5.829s;
}

.star:nth-child(22) {
  --star-tail-length: 5.78em;
  --top-offset: 81.31vh;
  --fall-duration: 7.144s;
  --fall-delay: 1.094s;
}

.star:nth-child(23) {
  --star-tail-length: 5.65em;
  --top-offset: 22.29vh;
  --fall-duration: 7.297s;
  --fall-delay: 9.917s;
}

.star:nth-child(24) {
  --star-tail-length: 7.28em;
  --top-offset: 21.16vh;
  --fall-duration: 11.458s;
  --fall-delay: 6.872s;
}

.star:nth-child(25) {
  --star-tail-length: 5.92em;
  --top-offset: 35.49vh;
  --fall-duration: 10.468s;
  --fall-delay: 3.291s;
}

.star:nth-child(26) {
  --star-tail-length: 7.42em;
  --top-offset: 69.6vh;
  --fall-duration: 9.729s;
  --fall-delay: 0.58s;
}

.star:nth-child(27) {
  --star-tail-length: 5.35em;
  --top-offset: 53.86vh;
  --fall-duration: 11.886s;
  --fall-delay: 4.303s;
}

.star:nth-child(28) {
  --star-tail-length: 6.26em;
  --top-offset: 22.02vh;
  --fall-duration: 11.421s;
  --fall-delay: 3.92s;
}

.star:nth-child(29) {
  --star-tail-length: 5.92em;
  --top-offset: 66.61vh;
  --fall-duration: 11.994s;
  --fall-delay: 3.262s;
}

.star:nth-child(30) {
  --star-tail-length: 6.14em;
  --top-offset: 28.66vh;
  --fall-duration: 9.572s;
  --fall-delay: 6.71s;
}

.star::before, .star::after {
  position: absolute;
  content: '';
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}

.star::before {
  transform: rotate(45deg);
}

.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}

@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
